# Ignore everything
*

# But not these directories
!xbook_main/
!supabase/

# Ignore specific files or directories within xbook_main and supabase if needed
xbook_main/build/
xbook_main/.dart_tool/
supabase/.temp/

